<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/navbar.js" defer></script>
    <title>WYR</title>
</head>
<body class="bg-gradient-to-r from-blue-500 via-indigo-500 to-purple-600 h-screen">

  <%- include('../testPartials/testNavbar'); %>
  <div class="flex flex-col items-center justify-center h-[calc(100%-4rem)] py-2 overflow-hidden">
    <div class="flex flex-col items-center justify-center  w-screen">
      <h1 class="text-6xl font-bold text-white text-center">
        Would You Rather
      </h1>
      <h2 class="text-2xl text-gray-100 text-center">
        Have Fun With Your Friends And Uncover Personal Insight
      </h2>
      <%if (!user) { %>
      <a href="/signup" class="mt-8 px-6 py-3 text-white font-semibold rounded-lg bg-green-500 hover:bg-green-600">Get
        Started</a>
      <% } %>
    </div>
  </div>

</body>
</html>
