    .content {
      height: calc(100vh - 4rem)
    }

    #comment-modal {
      background-color: rgba(0, 0, 0, 0.5);
    }

    #comment-modal.show {
      animation: fadeIn 0.3s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
