/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

    .content {
      height: calc(100vh - 4rem)
    }

    .custom-styling-btn1:hover {
      background-color: #e9ecef;
      border-color: #cfd8dc;
      cursor: pointer;
    }

    #comment-modal {
      background-color: rgba(0, 0, 0, 0.5);
    }

    #comment-modal.show {
      animation: fadeIn 0.3s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

/*
    .slide-out {
      animation: slideOut 2s ease forwards;
    }

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
} */

    #add-question-modal {
      background-color: rgba(0, 0, 0, 0.5);
    }

    #add-question-modal.show {
      animation: fadeIn 0.3s;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
